<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FridgeTracker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F4F28D41F2A75DA006A5D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F4F28E81F2A75DA006A5D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F4F28F31F2A75DA006A5D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
